<html lang="en">
  
  <head>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <script src="javascripts/javascript.js" type="text/javascript"></script>
      <link rel="icon" type="image/x-icon" href="E:\project front page\images\favicon.ico"/>
      <link rel="stylesheet" href="/css/skel.css" type="text/css" />
      <link rel="stylesheet" href="/css/style.css" type="text/css" />
      <link rel="stylesheet" href="/css/style-xlarge.css" type="text/css"/>
  </head> 
  
    <!-- <link href="style.css" type="text/css" rel="stylesheet" /> -->
  
  
  <body class="landing">
  <div id ="main-container">
      <div id="navigation-bar">
       <header id="header"> 
        <h1><a></a></h1>
        
        <nav id="nav">
           <ul>
            <li><a id="add" href="/register"> <i class="fa fa-plus" style="color:#e45230;"></i>&nbsp;Add Member</a></li>
            <!-- <li><a href="#">Generic</a></li> -->
            <li><a id="edit" href="/edit" class="current"> <i class="fa fa-edit" style="color:#309744;"></i>&nbsp; Edit &nbsp;</a></li>
            <li><a id="delete" href="/delete"> <i class="fa fa-trash" style="color:#a59755;"></i>&nbsp; Delete </a></li>
            <li><a id="logout" href="/"> <i class="fa fa-sign-out " style="color:#0091b3;"></i>&nbsp; Logout</a></li>
            <li><a id="list" href="/list"> <i class="fa fa-list-alt " style="color:#f091b3;"></i>&nbsp; List</a></li>
          </ul>
          
        </nav>
       </header> 
      </div> <!-- closing menu-bar -->
  
  <div class="share">
        <div class="status">
      <h1> <%=session['group']%></h1>
    </div>
  <div id="search-item">
        <ul>
       <center><h1>Member Information  Form</h1></center>
      <form name="editform" method="post" action="/edit" onsubmit="return required()">
        <label> User Name</label>
        <input type="text" name="email" id="email" value="<%=@email%>">
          <input type="submit" value="Search">
     </form>
   <%if(@test==1) %>
     <center> <h3>Details of <%=@employee_register.email%></h3></center>
      <form name="editform" method="post" action="/update" class="  registrationform" onsubmit="return required()">
        <label>First Name</label>
        <input type="text" name="first_name" id="firstname" onkeypress="return onlyAlphabets(event,this);" value="<%=@employee_register.first_name%>">
        <br>
        <%if(@employee_register.middle_name!=nil) %>
        <label>Middle Name</label>
        <input type="text" name="middle_name" id="middlename" onkeypress="return onlyAlphabets(event,this);" value="<%=@employee_register.middle_name%>">
        <br>
        <%end%>
        <label>Last Name</label>
        <input type="text" name="last_name" id="lastname" onkeypress="
        return onlyAlphabets(event,this);"value="<%=@employee_register.last_name%>"><br>
        <label>User Name</label>
        <input type="hidden" name="email" id="email" onkeypress="" value="<%=@employee_register.email%>">
        <input type="text" name="user" id="user" onkeypress="" value="<%=@employee_register.email%>"><br>
        <label>Address</label>   
        <input type="text" name="address" id="address" value="<%=@employee_register.address%>"><br>
         <label>Mobile Number</label>
        <input type="number" name="mobile_number" id="mobilenumber" onkeypress="return onlyNumber(event,this);" value="<%=@employee_register.mobile_number%>"><br>
        <label>Password</label>
        <input type="password" name="password" id="password" value="<%=@employee_register.password%>"><br>
        <label>Conform Password</label>
        <input type="password" name="cpassword" id="password" value="<%=@employee_register.password%>"><br>
        <div class="button">
          <input type="submit" value="Update">
          <input type="reset" value="Clear">
        </div>
      </form>   
      <%else%>
      <center><h3>Sorry <h1><%=@email%><h1> doesn't exist in your group</h3></center>
  
     <%end%>

   </ul>
        
      </div>
    </div>
   </div>
</div>

    <footer id="footer">
        <div class="container">
          <section class="links">
            <div class="row">
              <section class="3u 6u(medium) 12u$(small)">
                
            </div>
          </section>
          <div class="row">
            <div class="8u 12u$(medium)">
              <ul class="copyright">
                <li>&copy; Share Knowledge. All rights reserved.</li>
                
              </ul>
            </div>
            <div class="4u$ 12u$(medium)">
              <ul class="icons">
                <li>
                  <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    
  </div>


</body>
</html>