<html lang="en">
  
  <head>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <script src="javascripts/javascript.js" type="text/javascript"></script>
      <link rel="icon" type="image/x-icon" href="E:\project front page\images\favicon.ico"/>
      <link rel="stylesheet" href="/css/skel.css" type="text/css" />
      <link rel="stylesheet" href="/css/style.css" type="text/css" />
      <link rel="stylesheet" href="/css/style-xlarge.css" type="text/css"/>
  </head> 
  
    <!-- <link href="style.css" type="text/css" rel="stylesheet" /> -->
  
  
  <body class="landing">
  <div id ="main-container">
      <div id="navigation-bar">
       <header id="header"> 
        <h1><a></a></h1>
        
        <nav id="nav">
          <ul>
            <li><a id="home" href="/share"> <i class="fa fa-share-alt-square " style="color:#3cadd4;"></i>&nbsp; Share</li>
            <li><a id="search" href="/search"> <i class="fa fa-search" style="color:#FFFF99;"> </i> &nbsp;Search</a></li> 
            <li><a id="book" class="current" href="/myfile"> <i class="fa fa-folder-open-o" style="color:#add43c;"></i>&nbsp; My file &nbsp;</a></li>
            <li><a id="sign" href="/logout"> <i class="fa fa-sign-out " style="color:#e45230;"></i>&nbsp; Log out</a></li>
          </ul>
          
        </nav>
       </header> 
      </div> <!-- closing menu-bar -->
  
  <div class="share">
    <div class="status">
      <h1> <%=session['email']%></h1>
    </div>
  
      <form name="searchform" method="post" action="/mysearch" onsubmit="return require()">
          <input type="text" name="search" id="file_search" style="height:2em;width:30em;">
          <input type="submit" name="btmsearch" value="Search">
          </form>
       
    
    
           <div id="searchmenu">
        <ul>
          <a href="/all"><li>All </li></a>
          <a href="/video"><li>Videos</li></a>
          <a href="/image"><li>Images</li></a>
          <a href="/pdf"><li>PDFs</li></a>
          <a href="/audio"><li>Audio</li></a>
          <a href="/text"><li>Text</li></a>
        </ul>
      </div>
     <div id="search-item">
        <ul>
          <%temp=0%>
          <%if(file != nil)%>
            <%file.each do|file_result| %>
              <%my_file.each do|my_file_result|%>
                <% if(file_result.id==my_file_result.share_file_id)%>
                <%filename=file_result.file_file_name%>
                <div id="eachresult">
                <li><b><%=filename%></b><br>
                <a href="/files/original/<%=filename%>"><%=file_result.file_file_name %></a></li>
                </div>
                <%temp=1%>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
           <%if(text!= nil)%>
              <%text.each do|resultset| %>
              <%my_text.each do|my_text_result|%>
                <div id="textresult">
                  <% if(resultset.id==my_text_result.share_text_id)%>
                    <li><%=resultset.share_text %></li>
                    <%temp=1%>
                  <%end%>
                </div>
              <%end%>
            <%end%>
             <%end%>
        </ul>
        <%if(temp==0)%>
          <p>File not found </p>
        <%end%>
      </div>
    </div>
  </div>
</div>

    <footer id="footer">
        <div class="container">
          <section class="links">
            <div class="row">
              <section class="3u 6u(medium) 12u$(small)">
                
            </div>
          </section>
          <div class="row">
            <div class="8u 12u$(medium)">
              <ul class="copyright">
                <li>&copy; Share Knowledge. All rights reserved.</li>
                
              </ul>
            </div>
            <div class="4u$ 12u$(medium)">
              <ul class="icons">
                <li>
                  <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    
  </div>
  
  
  </body>

</html> 