<html lang="en">
  
  <head>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <script src="javascripts/javascript.js" type="text/javascript"></script>
      <link rel="icon" type="image/x-icon" href="E:\project front page\images\favicon.ico"/>
      <link rel="stylesheet" href="/css/skel.css" type="text/css" />
      <link rel="stylesheet" href="/css/style.css" type="text/css" />
      <link rel="stylesheet" href="/css/style-xlarge.css" type="text/css"/>
  </head> 
  
    <!-- <link href="style.css" type="text/css" rel="stylesheet" /> -->
  
  
  <body class="landing">
  <div id ="main-container">
      <div id="navigation-bar">
       <header id="header"> 
        <h1><a></a></h1>
        
        <nav id="nav">
           <ul>
            <li><a id="add" href="/register"> <i class="fa fa-plus" style="color:#e45230;"></i>&nbsp;Add Member</li>
            <!-- <li><a href="#">Generic</a></li> -->
            <li><a id="edit" href="/edit"class="current"> <i class="fa fa-edit" style="color:#309744;"></i>&nbsp; Edit&nbsp;</a></li>
            <li><a id="delete" href="/delete"> <i class="fa fa-trash" style="color:#a59755;"></i>&nbsp; Delete </a></li>
            <li><a id="logout" href="/"> <i class="fa fa-sign-out " style="color:#0091b3;"></i>&nbsp; Logout</a></li>
            <li><a id="list" href="/list"> <i class="fa fa-list-alt " style="color:#f091b3;"></i>&nbsp; List</a></li>
          </ul>
          
        </nav>
       </header> 
      </div> <!-- closing menu-bar -->
  
  <div class="share">
        <div class="status">
      <h1> <%=session['group']%></h1>
    </div>
  <div id="search-item">
        <ul>
       <center><h1>Updated Details of Member are:</h1></center>
       <table class="result">
           <tr><td>User Name</td>
           <td><%=@employee_register.email%></td></tr>
          <tr><td>First name</td>
            <td><%=@employee_register.first_name%></td></tr>
            <tr><td>Middle name</td>
            <td><%=@employee_register.middle_name%></td></tr>
            <td> Last Name</td>
            <td><%=@employee_register.last_name%></td></tr>
          <tr> <td>Address</td>   
            <td> <%=@employee_register.address%></td></tr>
            <tr><td>Phone Number</td>
          <td> <%=@employee_register.mobile_number%></td></tr>
        </table>
        
        </div>
      </form>
       
     </ul>
        
      </div>
    </div>
   </div>
</div>

    <footer id="footer">
        <div class="container">
          <section class="links">
            <div class="row">
              <section class="3u 6u(medium) 12u$(small)">
                
            </div>
          </section>
          <div class="row">
            <div class="8u 12u$(medium)">
              <ul class="copyright">
                <li>&copy; Share Knowledge. All rights reserved.</li>
                
              </ul>
            </div>
            <div class="4u$ 12u$(medium)">
              <ul class="icons">
                <li>
                  <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    
  </div>


</body>
</html>